@font-face {
  font-family: "Justice Story Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Justice Story Regular"),
    url("JusticeStory-axnZm.woff") format("woff");
}
h1 {
  font-family: "Justice Story Regular";
  font-weight: 200;
  color: #0ccac4;
}
